#root {
  margin-left: auto;
  margin-top: 1px;
  margin-right: auto;
  text-align: center;
}

.title {
  padding: 2rem;
  color: aliceblue;
  font-size: 2rem;
  font-family: "Monospaced";
}

body {
  background-color: olivedrab;

}
.card {
  background-color: aliceblue;
  align-content: center;
  display: grid;
  padding: 2rem;
  border: 0.2rem solid;
  border-radius: 12px;
}

.expandable {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.expandable.expanded {
  max-height: 500px;
  color: yellow;
}

